.container {
  border-radius: 25px;
  // border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 2px lightgrey;
}

.head {
  // border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7rem 1.2rem 0.3rem 1.2rem;

  h2 {
    font-weight: 600;
    color: #4f4f4d;
  }
}

.favoriteStar {
  height: 1rem;
  margin: auto 0;
  stroke: #51646e;
  stroke-width: 4rem;
  overflow: visible;
}

.icon {
  height: 1rem;
  margin: auto 0;
  color: #51646e;
  overflow: visible;
}

.body {
  padding: 1rem;
  color: #4f4f4d;
}

.bottom {
  // border: 2px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7rem 1.2rem 0.8rem 1.2rem;
}

.bottom_left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.7rem;
  // margin: 2px solid brown;
}
