$navbar-color: #ffffff;
$navbar-height: 3rem;

.container {
  background-color: $navbar-color;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0;
  position: fixed;
  width: 100vw;
  height: $navbar-height;
  // border: 2px solid red;
  padding: 0.1rem;
}

// .container > * {
//   border: 2px solid black;
// }

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  // border: 1px solid red;
}

.logo_image {
  margin: auto 0;
  // border: 1px solid green;
}

.logo > p {
  font-size: 0.5rem;
  margin: auto 0;
  color: #455a64;
}

.icon_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon {
  height: 1rem;
  margin: auto 1.5rem auto auto;
  color: #51646e;
}
